doctype html
html
    head
        title= contact.name
    body
        h1= contact.name
        article
            p Name: #{contact.name}
            p Address: #{contact.address}
            p Phone: #{contact.phone}
